# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*pixmaps/*
*.xpm

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
old/*
°.swp
build/*
preferences/*
.fr-*
music-icon-pack-design*
*.txt.user
*.m3u
*.qpl
